
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,600&display=swap');


:root {
  font-size: 62.5%;
  --roxo: #6B4343;
  --laranja: #B8ABAB;
  --amarelo:#EE9696;
  --azul:#A10000;
  --salmao: #EB0000;
  --vermelho: #6B2020;
  --areia: #B80000;
  --rosa: #EE4F4F;
  --a:#EB9494;
  
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body,
button,
input,
select,
textarea {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  color: black;
}

Ul{
 list-style: none;
}

a{
    text-decoration: none;
}

button{
    background: none;
    border: none;
}


